@import url('common.css');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond&display=swap');

.container{
    border: 1px solid red;
    width: 100%; background: #ede0df
}
.container section{
    width: 60%; margin: 0 auto;
    padding: 80px 0;
    position: relative
}
/* ---------------- figure ------------------------------------------ */
.container section figure{
    border: 1px solid blue;
    width: 100%;
    position: relative
}
.container section figure .image{
    width: 100%;
    display: flex; justify-content: center
}
.container section figure .image img{}
/* --------------- figcaption -------------------------------------------------- */
.container section figure figcaption{
    white-space: pre-line;
    position: absolute; left: 0; bottom: 0;
    transform: translateX(110%);
    padding-bottom: 50px
}
.container section figure figcaption h2{
    font-size: 5em;
    padding-bottom: 50px
}
.container section figure figcaption p{
    line-height: 1.5em
}
/* --------------- nav --------------------------------------------------------- */
.container section nav{
    border: 1px solid green;
    position: absolute; right: 0; top: 0;
    transform: translate(-600%, 250%)
}
.container section nav ul{}
.container section nav ul li{}
.container section nav ul li a{}
.container section nav ul li a{}