@import url('common.css');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond&display=swap');

.container{
    width: 100%; background: #ede0df
}
.container section{
    width: 60%; margin: 0 auto;
    padding: 80px 0;
    position: relative
}
/* ---------------- figure ------------------------------------------ */
.container section figure{
    width: 100%;
    position: relative
}
.container section figure .image{
    width: 100%;
    display: flex; justify-content: center
}
.container section figure .image img{}
/* --------------- figcaption -------------------------------------------------- */
.container section figure figcaption{
    white-space: pre-line;
    position: absolute; left: 0; bottom: 0;
    padding-bottom: 50px
}
.container section figure figcaption h2{
    font-size: 5em;
    padding-bottom: 50px
}
.container section figure figcaption p{
    line-height: 1.5em
}
/* --------------- nav --------------------------------------------------------- */
.container section nav{
    position: absolute; right: 0; top: 0;
    transform: translate(-30px, 300px)
}
.container section nav ul{}
.container section nav ul li{
    text-align: right;
    margin: 15px 0;
    position: relative
}
.container section nav ul li:first-of-type{
    margin: 0
}
.container section nav ul li:last-of-type{
    margin: 0
}
.container section nav ul li a{}
.container section nav ul li a:after{
    content: '';
    width: 1px; height: 0; background: #333;
    position: absolute;
    transform: translateY(70px);
    transition: .5s
}
.container section nav ul li:last-of-type a:after{
    height: 0; 
    transform: translateY(-60px)
}
/* ------------------ hover ------------------------------------------- */
.container section nav ul li:hover a{
    font-size: 3em;
    padding-bottom: 80px
}
.container section nav ul li:hover a:after{
    height: 60px
}
.container section nav ul li:last-of-type:hover a{
    padding-bottom: 0;
    padding-top: 70px
}
.container section nav ul li:last-of-type:hover a:after{
    height: 60px
}