p{
    width: 300px; height: 4em;
    border: 1px solid #333;
    overflow: hidden;
    display: inline-block;
    position: relative

}

p span{
    font-size: 3rem;
    position: absolute;
    transform: translateY(100%);
    transition: .5s
}

p:hover span{
    /* height: 100% */
    transform: translateY(0)
}