@import url('common.css');
@import url('https://fonts.googleapis.com/css?family=Baloo&display=swap');

header{
    width: 1920px;
    background: #fff;
    position: fixed; z-index: 100; top: 0
}
header > div{
    margin: 0 235px;
    display: flex; align-items: center
}
/* --------------------- 로고 ------------------------------------------------------------------ */
header div h1{}
header div h1 a{
    font-family: 'Baloo', cursive; font-size: 2.5rem;
    margin-right: 90px
}
header div h1 strong{
    font-family: 'Baloo', cursive; font-size: 2.5rem;
}
header div h1 strong:nth-of-type(1){
    color: #f29a82  
}
header div h1 strong:nth-of-type(2){
    color: #96d5c1
}
/* ----------------------- 네비게이션 --------------------------------------------------------- */
header div nav{
    display: flex
}
header div:hover nav{
    margin-bottom: 30px
}
header div nav dl{
    text-align: center;
    margin: 0 3px
}
header div nav dl:first-of-type{
    margin-left: 0
}
header div nav dl:last-of-type{
    margin-right: 0
}
header div nav dl dt{
    position: relative
}
header div nav dl dt a{
    width: 100px; padding: 30px 0;
    font-size: 1.25em
}
header div nav dl dt a:after{
    content: '';
    width: 0; height: 2px; background: #ccc;
    border-radius: 2px;
    position: absolute; left: 50%; bottom: 0;
    transform: translateX(-50%);
    transition: .5s
}
header div nav dl:hover dt a:after{
    width: 100%
}
header div nav dl dd{
    margin-top: 10px;
    position: relative;
    display: none
}
header div:hover nav dl dd{
    display: block
}
header div nav dl dd a{
    width: 100px;
    padding: 5px 0
}
header div nav dl:nth-of-type(odd) dd a:after{
    content: '';
    width: 90px; height: 30px; background: rgba(242, 154, 130, 0.3);
    position: absolute; left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden
}
header div nav dl:nth-of-type(even) dd a:after{
    content: '';
    width: 90px; height: 30px; background: rgba(150, 213, 193, 0.3);
    position: absolute; left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden
}
header div nav dl dd:hover a:after{
    visibility: visible
}
/* ---------------------- 아이콘 메뉴 --------------------------------------------------------- */
header div .top_menu{
    position: absolute; right: 235px; top: 20px
}
header div .top_menu input{
    border-bottom: 1px solid #333;
    outline-style: none
}
header div .top_menu a{
    padding: 10px 5px;
    margin-left: 25px
}
header div .top_menu a:first-of-type{
    margin-left: 0
}
header div .top_menu a img{
    width: 2em
}
/* ---------------------- .title --------------------------------------------------------- */
section{
    width: 80%; margin: 0 auto
    /* padding: 80px 235px 0 235px */
}
section .title{
    width:100%; padding: 35px 0; margin-bottom: 85px;
    text-align:left;
    position: relative; top: 80px
}
section .title h2{
    font-size:2.5em;
    margin-bottom:35px;
}
section .title a{
    padding: 0 1em;
}
section .title a:first-of-type{
    padding-left: 0
}
section .title:after{
    content:'';
    width:100%; height:2px; background:#ccc;
    position: absolute; left: 0; bottom: 0; 
}
/* ---------------------- .contents ----------------------------------------------------------------- */
section .contents{
    width: 100%; 
    padding-top: 35px;
    display: flex
}
section .contents .shallow_box{
    background: pink;
    border: 1px solid #ccc;
    width: 15%; height: auto;
    padding: 10px
}
section .contents .broad_box{
    background: #eee;
    width: 85%; height: auto;
    padding: 10px
}
section .contents h3{
    font-size: 1.5em; font-weight: 600;
    text-align: left;
    padding-bottom: 15px
}
/* ---------------------- 프로필 ----------------------------------------------------------------- */
section .contents .profile{
    width: 100%;
    display: flex; flex-direction: column;
    justify-content: center; align-items: center
}
section .contents .profile h3{}
section .contents .profile figure{
    border: 2px solid #ccc;
    border-radius: 50%;
    width: 80%; margin: 0 auto; padding: 10px
}
section .contents .profile figure img{
    width: 100%
}
section .contents .profile a{
    width: 100%;
    text-align: center
}
/* ---------------------- 퀵 메뉴 ----------------------------------------------------------------- */
section  .contents.q_menu{
    border: 1px solid green;
    width: 100%
}
section .contents .q_menu h3{}
section .contents .q_menu ul{}
section .contents .q_menu ul li{}
section .contents .q_menu ul li a{}
/* ---------------------- 주문 내역 ----------------------------------------------------------------- */

section .contents .od_history{
    border: 1px solid #ff0;
    width: 100%

}
section .contents .od_history h3{}
section .contents .od_history table{
    border: 1px solid #f00;
    /* border-collapse: collapse; */
}
section .contents .od_history table thead{}
section .contents .od_history table thead tr{}
section .contents .od_history table thead tr th{
    border: 1px solid #00f
}
section .contents .od_history table tbody{}
section .contents .od_history table tbody tr{}
section .contents .od_history table tbody tr td{
    border: 1px solid #0a0
}
section .contents .od_history table tbody tr td a{}
section .contents .od_history table tbody tr td a strong{}
/* ---------------------- 관심 상품 ----------------------------------------------------------------- */
section .contents .w_list{
    width: 100%

}
section .contents .w_list h3{}
section .contents .w_list ul{}
section .contents .w_list ul li{}
section .contents .w_list ul li a{}








/* ---------------------- 1:1 채팅 ----------------------------------------------------------------- */
aside .feedback{
    width: 50px; height: 50px; border-radius: 50%;
    background: #fff url('../img/ic_chat.png') no-repeat center;
    border: 2px solid #333;
    position: fixed; z-index: 100;
    right: 100px; bottom: 60px
}
aside .feedback img{
    width: 100%;
}
/* ---------------------- 푸터 ----------------------------------------------------------------- */
footer{
    width: 1920px; padding-top: 100px;
    text-align: center
}
footer nav{
    width: 100%;
    border-top: 1px solid #ccc; border-bottom: 1px solid #ccc
}
footer nav ul{}
footer nav ul li{}
footer nav ul li a{
    padding: 15px 0; margin: 0 30px
}
footer nav ul li:last-of-type a{
    margin-right: 0
}
footer p{
    width: 100%; padding: 35px 0;
    white-space: pre-line; line-height: 1.5em
}
/* ---------------------- ps ------------------------------------------------------------------ */
footer .postscript{
    width: 100%;
    margin-bottom: 35px
}
footer .postscript{}
footer .postscript li{
    margin: 0 30px;
    display: inline-flex; align-items: center
}
footer .postscript li a{}
footer .postscript li img{
    height: 30px
}
footer .postscript li span{
    padding-left: 5px
}

/* ---------------------- animation ----------------------------------------------------------- */
@keyframes carousel {
    0%, 20%{
        transform: translateX(0)
    }
    25%, 45%{
        transform: translateX(-100%)
    }
    50%, 70%{
        transform: translateX(-200%)
    }
    75%, 95%{
        transform: translateX(-300%)
    }
    100%{
        transform: translateX(-400%)
    }
}
@keyframes turn_page{
    0%{
        transform: scale(1)
    }
    10%, 90%{
        transform: scale(1.5)
    }
    100%{
        transform:scale(1)
    }
}