.TodoListItem {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem;

  &:nth-child(even) {
    background: #f8f9fa;
  }

  .checkbox {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex: 1; // 차지할 수 있는 영역 모두 차지
    
    svg { // 아이콘
      font-size: 1.5rem;
    }

    .text {
      flex: 1; // 차지할 수 있는 영역 모두 차지
      margin-left: .5rem;
    }

    &.checked { // 체크되어 있을 때 보여줄 스타일
      svg {
        color: #22b6cf;
      }

      .text {
        color: #adb5bd;
        text-decoration: line-through;
      }
    }
  }

  .remove {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: #ff6b6b;
    cursor: pointer;

    &:hover {
      color: #ff8787;
    }
  }

  & + & { // 엘리먼트 두 개 연속으로 있을 경우
    border-top: 1px solid #dee2e6;
  }
}