*{margin: 0; padding: 0}
.total_div{width: 965px; margin: 0 auto}

.total_div .top1{width: 100%}
.total_div .top2{width: 100%}

.total_div .left_all{width: 303px; float: left}
.total_div .left_all .left1{width: 100%}
.total_div .left_all .left2{width: 100%}
.total_div .left_all .left3{width: 100%}

.total_div .contents{width: 662px; float: right}

.total_div .footer{width: 100%; clear:both}