*{margin: 0; padding: 0}

.total_div{width: 1034px; margin: 0 auto}

.total_div .header{width: 100%; overflow: hidden}
.total_div .header .top1{width: 241px; float: left}
.total_div .header .top2{width: 793px; float: right}

.total_div .nav{width: 241px; float: left}

.total_div .contents{width: 793px; overflow: hidden}
.total_div .contents .cont_menu{width: 100%}
.total_div .contents .cont1{width: 162px; float: left}
.total_div .contents .cont_right{width: 631px; float: right}
.total_div .contents .cont_right .cont2{width: 100%}
.total_div .contents .cont_right .cont3{width: 100%}
.total_div .contents .cont_right .cont4{width: 100%}
.total_div .contents .cont_right .cont5{width: 100%}

.total_div .footer{width: 1034px; clear: both}