@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  box-sizing: border-box;
  color: #333;
  font-family: 'Poppins';
  font-size: 15px;
  line-height: 1.5em;
  margin: 0;
  padding: 0; }

a,
span {
  display: inline-block; }

a {
  color: #333;
  text-decoration: none; }

section {
  width: 100%; }
  section .container {
    margin: 0 auto;
    padding: 100px 0;
    width: 1200px; }
  section .intro {
    display: flex;
    padding-bottom: 150px;
    width: 100%; }
    section .intro figcaption {
      display: flex;
      flex-direction: column;
      width: 30%; }
      section .intro figcaption h2 {
        font-size: 3em;
        padding-bottom: 20px;
        position: relative;
        text-transform: uppercase; }
      section .intro figcaption h2:after {
        background: #333;
        content: '';
        height: 1px;
        position: absolute;
        top: 0;
        width: 150px; }
      section .intro figcaption h2:nth-of-type(1):after {
        left: -180px; }
      section .intro figcaption p {
        width: 80%;
        padding-bottom: 20px; }
      section .intro figcaption a {
        font-size: .9em;
        font-weight: 600;
        text-transform: uppercase; }
    .intro:nth-of-type(1) {
      flex-direction: row-reverse; }
    .intro:nth-of-type(2) figcaption {
      align-items: flex-end; }
      .intro:nth-of-type(2) figcaption h2:after {
        right: -180px; }
      .intro:nth-of-type(2) figcaption p {
        text-align: right; }
  section article {
    align-items: center;
    display: flex;
    flex-direction: column; }
    section article h2 {
      font-size: 3em;
      padding-bottom: 60px;
      text-transform: uppercase; }
    section article p {
      padding-bottom: 70px;
      position: relative;
      text-align: center;
      white-space: pre-line; }
    section article p:after {
      background: #bea67c;
      content: '';
      height: 2px;
      left: 50%;
      position: absolute;
      top: -35px;
      transform: translateX(-50%);
      width: 45px; }
  section .quality a {
    padding-right: 70px; }
    section .quality a span {
      font-size: 0;
      margin-bottom: 70px;
      width: 100%;
      position: relative; }
      section .quality a span img {
        width: 100%; }
    section .quality a span:before {
      border: 1px solid #999;
      border-radius: 50%;
      content: '';
      height: 110%;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: .5s;
      width: 110%; }
    section .quality a span:after {
      background: url(img/ic01.png) center no-repeat;
      content: '';
      height: 100%;
      left: 50%;
      opacity: 0;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: .5s;
      width: 100%; }
    section .quality a span:hover:after {
      opacity: 1; }
    section .quality a figcaption {
      position: relative;
      text-align: center;
      text-transform: capitalize; }
    section .quality a figcaption:after {
      background: #bea67c;
      content: '';
      height: 1px;
      left: 50%;
      position: absolute;
      top: -20px;
      transform: translateX(-50%);
      width: 25px; }
  section .quality a:last-of-type {
    padding: 0; }

/*
1. 컴포넌트별 css 작성
2. 변수 선언($변수명: 값)
3. @mixin aa() {재실행 코드}
   @include aa(); → 재실행 코드 불러올 때
4. %aa { 다중선택자에 실행할 코드}
   @extend %aa{};

      ex1)
      ul{@extend %aa;}
      li{@extend %aa;}
      css → ul, li {}

      ex2)
      ul{명령}
      li{@extend ul;}
      a{@extend ul;}
      css → li, a {ul 태그 명령 추가}

5. @import '파일명'; (scss파일 호출)
6. _common.scss → css 파일로 컴파일 하지 않음
*/

/*# sourceMappingURL=style.css.map */
