@import url('common.css');

.t_board{
    width: 1000px; margin: 0 auto; /*부모영역 지정하면 자식 영역에서 자동으로 분할*/
    border-collapse: collapse /*셀 간격=0*/
}
/*영역=자식 영역*/
.t_board thead th{
    background: #555;
    padding: 15px 0
}
.t_board tbody tr:nth-of-type(even) td{
    background: #eee
}
.t_board tbody td{
    border-bottom: 1px solid #ddd;
    padding: 15px 0; text-align: center
}
.t_board tbody td:nth-of-type(2){
    text-align: left;
    
}
.t_board tbody td p{
    /*한 줄 처리 세트*/
    width: 700px;
    white-space: nowrap; /*여러 줄 한 줄로 처리*/
    overflow: hidden; /*해당 영역 넘어가는 부분 숨기기*/
    text-overflow: ellipsis; /*영역 넘어가는 텍스트 점선 처리*/
}
.t_board tfoot td{
    text-align: right
}