@import url('common.css');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/* ----------------------------------- header -------------------------------- */
header{
    width: 100%;
    padding: 40px 0
}
header div{
    width: 80%; margin: 0 auto;
    display: flex; justify-content: space-between; align-items: center;
    position: relative
}
header div h1{}
header div h1 a{
    font-size: 1.5em
}
/* ------------------------------------- nav -------------------------------- */
header div nav{}
header div nav ul{}
header div nav ul li{
    display: inline-block
}
header div nav ul li > a{
    font-family: '나눔고딕'; font-size: .7em; font-weight: 900;
    padding: 0 10px
}
header div nav ul li a:last-of-type{
    padding-right: 0
}
/* ----------------------------------- burger -------------------------------- */
header div .burger{
    position: relative; 
    width: 20px; height: 10px;
}
header div .burger span{
    width: 20px; height: 1px;
    background: #333;
    position: absolute;
}
header div .burger span:nth-of-type(1){}
header div .burger span:nth-of-type(2){
    top:5px
}
header div .burger span:nth-of-type(3){
    top: 10px
}
header div .burger:hover span{
    transition: .5s;
}
header div .burger:hover span:nth-of-type(1){
    transform: rotate(45deg); /* 각도 */
    top: 60%
}
header div .burger:hover span:nth-of-type(2){
    /* transform: translate(100%); 오브젝트 위치 이동 */
    opacity: 0
}
header div .burger:hover span:nth-of-type(3){
    transform: rotate(-45deg);
    top: 60%
}
/* --------------------------------- visual --------------------------------- */
.visual{
    margin-bottom: 150px
}
.visual img{
    width: 100%
}
/* --------------------------------- section -------------------------------- */
section{
    background: #fff;
    position: absolute; left: 20%; top: 20%;
    display: flex;
    padding: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4)
}
section article{}
section article .title{
    display: flex; justify-content: space-between;
    padding-bottom: 50px
}
section article .title h2{
    font-weight: normal; 
}
section article .title .social{
    display: flex;
}
section article .title .social a{
    padding: 0 20px
}
section article .title .social .icon{
    font-family: 'material icons'
}
/* ---------------------------------social --------------------------------- */
/*
section article .title .social a:nth-of-type(1){
    background: url('../img/icon_fb.png') no-repeat center
}
section article .title .social a:nth-of-type(2){
    background: url('../img/icon_tw.png') no-repeat center
}
section article .title .social a:nth-of-type(3){
    background: url('../img/icon_ig.png') no-repeat center
}
section article .title .social a:last-of-type{
    padding: 0
}
*/

section article figure{}
section article figure img{
    width: 100%;
    padding-bottom: 30px;
}
section article figcaption{
    white-space: pre-line
}
section article figcaption p{
    font-family: '나눔고딕'
}
section article figcaption mark{
    background: #fed38e;
    margin-left: 10px
}
section article figcaption a{
    font-weight: bold
}
/* ------------------------------------footer ------------------------------- */
footer{
    width: 100%;
    text-align: center;
    margin-bottom: 100px    
}
footer p{
    font-family: '나눔고딕'; font-size: .7em; color: #ccc;
    text-transform: none
}