@import url('common.css');
    
    

/* layout */

#total{
    width:1920px;
    min-width:480px;
    margin:0 auto;
}

/* header */

header{
    width:1920px;
    position:fixed;
}

header .header_wrap{
    padding:35px 200px;
    display:flex;
    justify-content:space-between;
}
.header_left{
    display:flex;
}
.header_wrap .logo{
    margin-right:100px;
}
.header_wrap .logo figure{}
.header_wrap .logo figure img{}
/* -------------- navigation 1depth ---------------- */

.header_wrap nav{
    position:relative;
}

.header_wrap nav > ul{
    display:flex;
    margin:35px 0;
    position:relative;
}
.header_wrap nav > ul > li{
    word-spacing:30px;
    margin-right:60px;
}
nav ul li{
    position:relative;
}
nav > ul li a:after{
    content:'';
    position:absolute;
    left:50%;
    width:0%;
    height:2px;
    background:#333;
    transition:.5s;
    bottom:-5px;
}

nav > ul li:hover a:after{
    width:100%;
    left:0;
}
/* ---------------- .menubar ---------------------- */
nav .menubar{
    display:flex;
    position:absolute;
    left:-4%;
    top:65%;
    height:0;
    transition:.5s;
    z-index:5;
    overflow:hidden;
    background:#fff;
    
}
.menubar .menu_wrap1{
    display:flex;
    line-height:50px;
    justify-content:space-around;
    width:650px;
}
.menubar .menu_wrap1 ul{
    margin:35px 0 0 0;
    width:100%;

}
.menubar .menu_wrap1 ul li{
    text-align:center;
}
nav:hover .menubar{
    height:200px;
}
nav .menubar ul:hover{
    background:#ccc;
}
nav .menubar ul li a:hover{
    color:#fff;
}

.menubar ul li a{
    font-size:12px;
}

.header_right{
    display:flex;
}
/* ---------------- header quick_menu --------------- */
.header_wrap .quick_menu{
    margin:35px 0;
    margin-right:30px;
    word-spacing:15px;
}
.header_wrap .quick_menu a{}
.header_wrap .quick_menu a img{
    width:15px;
    height:15px;
}
.header_wrap .search_box{
    margin:35px 0;
}
.header_wrap .search_box form{}
.search_box input{
    border-top:none;
    border-right:none;
    border-left:none;
}
.search_box img{
    width:15px;
    height:15px;
}

/* section */
section{
    width:100%;
    margin:0 auto;
    text-align:center;
    padding:170px 0;

    
}
section .contents{
    width:100%;
}

/* .con_tit */
section .con_tit{
    width:100%;
}
section .con_tit dl{
    line-height:35px;
    text-align:left;
    padding:0 235px;
}

section .con_tit dl:after{
    content:'';
    background:#ccc;
    display:block;
    width:calc(1920px - 470px);
    height:2px;
    margin-top:35px;
}


section .con_tit dl dt{
    font-size:30px;
    color:#333;
    margin-bottom:35px;
}
section .con_tit dl dd{
    display:inline-block;
}
section .con_tit dl dd:nth-of-type(1){}
section .con_tit dl dd:nth-of-type(2){}

/* .con_text */
section .con_text{
    margin:35px 600px;

}
section .con_text dl{
}
section .con_text dl dt{
    font-size:2em;
    color:#333;
    margin-bottom:35px;
}
section .con_text dl dd{
    font-size:15px;
}
section .con_text div{
}

section .council {
    display:flex;
    justify-content:center;
    border:2px solid #ccc;
    margin:35px 0;
}
section .council ul{
    text-align:left;
    line-height:35px;
    margin:35px 50px 35px 35px;
    position:relative;
}
section .council ul:after{
    content:'';
    background:#ccc;
    width:1px;
    height:250px;
    display:inline-block;
    position:absolute;
    right:-35px;;
    top:0;
}
section .council ul li{
    font-size:15px;
    font-weight:500;
    display:block;
}
section .council ul li:nth-of-type(1){
    font-size:30px;
    font-weight:600;
}
section .council ul li:nth-of-type(2){
    font-size:20px;
    margin:35px 0;
    font-weight:600;
}
section .council ul li:nth-of-type(3){
    font-size:12px;
}
section .council ul li:nth-of-type(4){}
section .council ul li:nth-of-type(5){}
section .council figure{
    text-align:center;
    padding:35px 80px 35px 80px;
}
section .council figure img{
    width:145px;
    height:145px;
    margin-bottom:35px;
}
section .con_text figure figcaption{}
section .con_text figcaption p{}
section .con_text figcaption p:nth-of-type(1){}
section .con_text figcaption p:nth-of-type(2){}

/* 1:1 채팅 */
.feedback{
    width: 50px; height: 50px; border-radius: 50%;
    background: #fff url('../../img/sub_customer/ic_chat.png') no-repeat center;
    border: 2px solid #333;
    position: fixed; z-index: 100;
    right: 100px; bottom: 60px
}
.feedback img{
    width: 100%;

}
/* footer */
footer{
    width:1920px;

    margin:35px 0;
}
.footer_tit{
    width:100%;
    padding:0 200px;
    background:#ccc;}
.tit_wrap{
    width:1520px;
    display:flex;
    justify-content:space-between;
}
.footer_tit ul{
    display:flex;
    margin:35px 0;
    justify-content:space-around;
}
.footer_tit div{
    display:flex;
    margin:35px 0;
}

.footer_tit ul li{
    margin:0 35px;
}

.footer_tit div p{
    margin:0 35px;
}

/* footer_cont */
.footer_cont{
    width:1520px;
    margin:35px 200px;
}
.foot_con_wrap{
    display:flex;
    justify-content:space-around;
}
.footer_cont .foot_logo{
    padding-top:30px;
}
.footer_cont .foot_logo figure{
}
.footer_cont .foot_logo img{
}

.foot_left{line-height:35px;}
.foot_address{margin-bottom:35px;}
.foot_info{}
.foot_center{line-height:35px;}
.foot_contacts{margin-bottom:5px;}
.foot_bank{}
.foot_quick{line-height:35px;}
.footer_cont div ul li:nth-of-type(1){
    font-weight:600;
}
