@import url('common.css');


.total{margin:0 235px;}

header{width:100%;
height: 100px;
background: black;
color: white;
text-align: center;}
/*header*/

header {
    width: 100%;
    height: 100px;
    background: #121212;
    padding: 36px 0;
    position: fixed;
    z-index: 30;
    top:0;
    }

header .allheader {
    display: flex;
    background: #121212;
    justify-content: space-between;
   
    width: 100%;
    padding: 0 235px;
    
    
}

header .leftmenu {
    display: flex;
    justify-content: center;
     align-items: center;

}

header .leftmenu h1 {
    font-size: 30px;
    color: white;
    margin-right: 70px;

}


header .leftmenu h1 p{text-align: center;
color: white;
font-size: 12px}
header .leftmenu nav {}

header .leftmenu nav ul {
    display: flex;
}

header .leftmenu nav ul li {}
header .leftmenu nav ul li a{}
header .leftmenu nav ul li div{position: relative;
}
header .leftmenu nav ul li div a{display: none;}
header .leftmenu nav ul li div a{
    display: none;
    top:0; left:0;
    width:100%;
    margin-top: 15px;
}
header .leftmenu nav ul li a:hover{
    text-decoration: underline;
}
header .leftmenu nav ul li:hover div a{
   display: block;
    margin-bottom: 10px;
    
}

header .leftmenu nav ul li a {
    margin-right: 50px;
    color: white;
}

header .submenu {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .submenu .search {}

header .submenu .search input {
    outline: inherit;
    border-right: none;
    border-top: none;
    border-left: none;
    border-bottom: 2px solid white;
    background: none;
    color: white;
    text-align: left;
    
}
header .submenu .search button{
    background: none;
    border: none;
}
header .submenu .search button img{
    margin-top: 5px;
        width:20px;
    height: 20px;
}

header .submenu .member {}

header .submenu .member a {}

header .submenu .member a img {
    width: 20px;
    height: 20px;
    margin-left: 40px;
}


/*룸박스*/
.roombox h2{
    font-size: 30px;
    color: black;
    margin-top: 35px;
    margin-bottom: 25px;
}

.roombox p a{color: black;
margin-bottom: 70px;}


/*section*/
section{overflow: hidden;}
section figure{float: left;}
section figure img{
    margin-right: 70px;
    width: 500px; height: 500px;
    border: 1px solid #ccc;
}
section figure sss

section .number{width: 10px;}

section .listname{}

section .listname span input{width: 50px;}

section .listname strong{margin-bottom: 25px;
font-size: 25px;
color: black;}

section .listname p:nth-of-type(1){margin-bottom: 25px;}

section .listname p:nth-of-type(5){margin-top: 25px;}

section .listname p{margin-bottom: 25px;}

section .button a{margin-top: 100px;
border: 1px solid #ccc;
padding:20px 80px;
margin-right: 10px;
color: black;}

section .button a:last-child{
    padding:20px 10px;
}



.section2{margin-top: 75px;

}

.section2 .button2{display: flex;
justify-content: center;
align-items: center;
width:100%;
padding:20px 198px;}


.section2 a{
    border:1px solid #ccc;
    font-size: 18px;
    text-align: center;
    color: black;
    width:800px;
    height: 50px;
          
}

.section2 a:hover{
    background: #f29a82;
}
.pre{margin-top: 50px;}
pre{text-align: center;
border-bottom: 1px solid #ccc;}
/*하단*/

.next{margin-top: 70px;}
.next p{text-align: center;
color: black;
}

footer{background:black;
height: 200px;
color: white;
text-align: center;}

